<!DOCTYPE html>
<head>
	<title>Musictionary</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/musictionary.css') }}" />
</head>
<div class="container">
	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
        	<a class="brand" href="#">Musictionary</a>
        </div>
      </div>
    </div>
</div>
<div id="homepage">
    	<div class="hero-unit">
    		<h1>Create a new groove...</h1>
    		<a class="btn btn-primary" href="{{ room }}">Get Started</a>
    		<div style="clear: both; height: 0px">&nbsp;</div>
    	</div>
    </div>
</body>