<!DOCTYPE html>
<head>
	<title>Musictionary</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/musictionary.css') }}" />
</head>
<div class="container">
	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
        	<a class="brand" href="#">Musictionary</a>
        </div>
      </div>
    </div>
</div>
<div id="homepage">
    	<div class="hero-unit">
    		<h1>Create a new groove...</h1>
    		<a class="btn btn-primary" href="api/{{ vparams.newroom }}">Get Started</a>
    		<div style="clear: both; height: 0px">&nbsp;</div>
    	</div>
        <div class="row">
            <div class="span6">
                <h3>Or join an existing room:</h3>
                {% for room in vparams.existing %}
                <strong><a href="api/{{ room }}">{{ room }}</a></strong>
                {% endfor %}
            </div>
        </div>
    </div>
</body>